@model SmartInventory.Models.InventoryItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InventoryItem</h4>
    <hr />
   <div class="container">   
       <dl class="row">
        <dt class="col-sm-2">
            Transaction Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Transaction Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            Reject
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isRejected)
        </dd>
        <dt class="col-sm-2">
            Reasone for Rejection
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReasonForRejection)
        </dd>
    </dl>

    <a asp-action="UpdateTransactions" asp-route-id="@Model?.Id">Update</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
