@model IEnumerable<SmartInventory.Models.InventoryItem>

@{
    ViewData["Title"] = "StockTransactionList";
}

<h1>Stocks according to transaction types</h1>

<hr />
<div class="search-bar pb-3">
    <input type="text" placeholder="Search categories..." id="txtSearch">
    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
 
        </tr>
}
    </tbody>
</table>
