@model IEnumerable<SmartInventory.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Category of Product</h1>

<hr />
<br />
<div class="container">
<div class="search-bar pb-3">
        <input type="text" placeholder="Search categories..." id="txtSearch">
    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="UpdateCategory" asp-route-id="@item.Id">Update</a> |
                <a asp-action="RemoveCategory" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>